/* Reset default styles */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0,0,33);
  color: white;
  /* flex-shrink:1; */
}

h1{
  margin-right: 490px;
  /* flex-shrink:1; */
}

header {
  background-color: rgb(121, 137, 135);
  color: #fff;
  padding: 20px;
  display: flex;
  height: 40px;
  /* flex-shrink:1; */
}

nav {
  margin-top: 30px;
  /* flex-shrink:1; */
}

nav ul {
  list-style: none;
  /* flex-shrink:1; */
}

nav ul li {
  display: inline;
  margin-right: 45px;
  /* flex-shrink:1; */
}

li a{
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  /* flex-shrink:1; */
}

nav a:hover {
  color:rgb(159, 159, 225)
}
.content {
  height: auto;
  background-color: rgb(0, 0, 33);
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.content2, .content3, .content4, .content5, .content6 {
  margin-top: 10px;
  margin-left: 35px;
}

.cont-first {
  background-color: rgb(0, 0, 33);
  height: auto;
  width: 70%; /* Adjust as needed for responsiveness */
  display: inline-block;
  margin: 10px auto;
}

.intro {
  color: #fff;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
}

main {
  height: auto; /* Adjust as needed for responsiveness */
}

.content6 {
  display: flex;
  margin-bottom: 30px;
}

.educational-qualifications {
  width: 70%; /* Adjust the width as needed */
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 10px;
  }

  h1 {
    margin-right: 10%;
    font-size: px;
  }

  header {
    padding: 10px;
  }

  nav ul li {
    margin-right: 5%;
  }

  nav ul {
    margin-left: -30%;
  }

  .content {
    margin-left: 5px;
  }

  .cont-first {
    width: 90%; /* Adjust as needed for responsiveness */
    margin: 10px auto;
  }

  footer {
    padding: 10px;
  }
}
